.container h1 {
    margin-bottom: 40px;
}

.container form {
    padding: 30px 0;
}

.container form .error{
    font-size: 0.8rem;
    color:red;
}

.container form .filter {
    margin:70px 0px 40px 0px;
}

.container .content-products .message-price {
    color:#ccc;
}

.container form table .quantity, .container form table .total-quantity {
    width:55px;
}

.loader-ajax {
    position: absolute;
    margin: 35%;
    padding: 30px;
}

.content-products table tbody td, .content-products table tbody th{
    vertical-align: middle;
}

.catalog .totals-row strong{
    float: right;
}